In [1]:
import pandas as pd
import numpy as np

In [2]:
esg15=pd.read_csv('esg15.csv',low_memory=False)
esg20=pd.read_csv('esg20.csv',low_memory=False)
esg21=pd.read_csv('esg21.csv',low_memory=False)

<class 'FileNotFoundError'>: [Errno 44] No such file or directory: 'esg15.csv'

In [3]:
esg13=pd.read_csv('esg13.csv',low_memory=False)
esg14=pd.read_csv('esg14.csv',low_memory=False)
esg16=pd.read_csv('esg16.csv',low_memory=False)
esg17=pd.read_csv('esg17.csv',low_memory=False)
esg18=pd.read_csv('esg18.csv',low_memory=False)
esg19=pd.read_csv('esg19.csv',low_memory=False)

<class 'FileNotFoundError'>: [Errno 44] No such file or directory: 'esg13.csv'

In [4]:
esg15=esg15.dropna()
esg20=esg20.dropna()
esg21=esg21.dropna()

<class 'NameError'>: name 'esg15' is not defined

In [5]:
df=pd.concat([esg13,esg14,esg15,esg16,esg17,esg18,esg19,esg20,esg21],ignore_index=True,axis=0)

<class 'NameError'>: name 'esg13' is not defined

In [6]:
df['cusip']=df['primary_isin'].str[2:11]

<class 'NameError'>: name 'df' is not defined

In [7]:
df=df.drop(columns=['reprisk_id','primary_isin'])

<class 'NameError'>: name 'df' is not defined

In [8]:
df['date']=pd.to_datetime(df['date'])

<class 'NameError'>: name 'df' is not defined

In [9]:
df['year']=pd.DatetimeIndex(df['date']).year

<class 'NameError'>: name 'df' is not defined

In [10]:
df.describe()

<class 'NameError'>: name 'df' is not defined

In [11]:
df

<class 'NameError'>: name 'df' is not defined

In [12]:
mnrri=df.groupby(['cusip','year'])[['current_rri']].mean()
mnrri.rename({'current_rri':'mnrri'},axis=1,inplace=True)

<class 'NameError'>: name 'df' is not defined

In [13]:
lastrri=df.sort_values(['cusip','date']).drop_duplicates(['cusip','year'],keep='first')

<class 'NameError'>: name 'df' is not defined

In [14]:
lastrri.rename({'current_rri':'lastrri'},axis=1,inplace=True)

<class 'NameError'>: name 'lastrri' is not defined

In [15]:
rri=pd.merge(mnrri,lastrri,on=['cusip','year'])

<class 'NameError'>: name 'mnrri' is not defined

In [16]:
rri[['mnrri','lastrri']].corr()

<class 'NameError'>: name 'rri' is not defined

In [17]:
rri.to_csv('rri.csv',index=False)

<class 'NameError'>: name 'rri' is not defined

In [18]:
import statsmodels.api as sm
import seaborn as sns
from scipy.stats import mstats
from scipy.stats.mstats import winsorize

<class 'ModuleNotFoundError'>: No module named 'seaborn'

In [19]:
part2=pd.read_csv('part2.csv')
part2.head()

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,cusip,curcd,at,...,ceq,csho,dt,ebitda,ppent,sale,xrd,costat,prcc_f,sic
0,1004,2014-05-31,2013.0,INDL,C,D,STD,000361105,USD,2199.5,...,999.5,39.560,634.0,256.0,413.3,2035.0,NaN,A,24.30,5080
1,1004,2015-05-31,2014.0,INDL,C,D,STD,000361105,USD,1515.0,...,845.1,35.423,154.0,83.7,295.0,1594.3,NaN,A,29.54,5080
2,1004,2016-05-31,2015.0,INDL,C,D,STD,000361105,USD,1442.1,...,865.8,34.515,148.1,136.9,313.9,1662.6,NaN,A,24.41,5080
3,1004,2017-05-31,2016.0,INDL,C,D,STD,000361105,USD,1504.1,...,914.2,34.354,157.3,148.2,361.5,1767.6,NaN,A,34.94,5080
4,1004,2018-05-31,2017.0,INDL,C,D,STD,000361105,USD,1524.7,...,936.3,34.716,177.2,126.5,316.6,1748.3,NaN,A,44.69,5080

In [20]:
part2 = part2[(part2['sic'] < 6000) | (part2['sic'] > 6999)]

In [21]:
part2=part2[part2['at']>10]

In [22]:
part2=part2[part2['sale']>5]

In [23]:
part2.dtypes

gvkey         int64
datadate     object
fyear       float64
indfmt       object
consol       object
popsrc       object
datafmt      object
cusip        object
curcd        object
at          float64
capx        float64
ceq         float64
csho        float64
dt          float64
ebitda      float64
ppent       float64
sale        float64
xrd         float64
costat       object
prcc_f      float64
sic           int64
dtype: object

In [24]:
part2=part2.rename(columns={'fyear':'year'})

In [25]:
part2.describe

<bound method NDFrame.describe of          gvkey    datadate    year indfmt consol popsrc datafmt      cusip  \
0         1004  2014-05-31  2013.0   INDL      C      D     STD  000361105
1         1004  2015-05-31  2014.0   INDL      C      D     STD  000361105
2         1004  2016-05-31  2015.0   INDL      C      D     STD  000361105
3         1004  2017-05-31  2016.0   INDL      C      D     STD  000361105
4         1004  2018-05-31  2017.0   INDL      C      D     STD  000361105
...        ...         ...     ...    ...    ...    ...     ...        ...
114779  351590  2019-12-31  2019.0   INDL      C      D     STD  23384L101
114780  351590  2020-12-31  2020.0   INDL      C      D     STD  23384L101
114781  351590  2021-12-31  2021.0   INDL      C      D     STD  23384L101
114782  353444  2021-12-31  2021.0   INDL      C      D     STD  405552100
114783  353945  2021-12-31  2021.0   INDL      C      D     STD  00449R109

       curcd         at  ...        ceq      csho         dt    ebitda  \
0        USD   2199.500  ...    999.500    39.560    634.000   256.000
1        USD   1515.000  ...    845.100    35.423    154.000    83.700
2        USD   1442.100  ...    865.800    34.515    148.100   136.900
3        USD   1504.100  ...    914.200    34.354    157.300   148.200
4        USD   1524.700  ...    936.300    34.716    177.200   126.500
...      ...        ...  ...        ...       ...        ...       ...
114779   USD  62131.888  ...  11054.622       NaN  26142.367  4993.713
114780   USD  60256.041  ...   9914.300       NaN  24769.477  2798.907
114781   USD  62325.449  ...  18106.225  1645.904  18878.470  3911.262
114782   USD  46650.099  ...  35687.306     0.500    158.430  3179.428
114783   USD    686.085  ...    288.849       NaN    123.181   206.493

            ppent       sale       xrd  costat   prcc_f   sic
0         413.300   2035.000       NaN       A  24.3000  5080
1         295.000   1594.300       NaN       A  29.5400  5080
2         313.900   1662.600       NaN       A  24.4100  5080
3         361.500   1767.600       NaN       A  34.9400  5080
4         316.600   1748.300       NaN       A  44.6900  5080
...           ...        ...       ...     ...      ...   ...
114779  14321.295  51894.216  1865.068       A      NaN  3713
114780  14012.612  43409.566  1715.264       A      NaN  3713
114781  12967.787  45224.620  1589.981       A  18.4389  3713
114782   2250.514  12924.885   348.004       A      NaN  2834
114783    176.083    756.466    51.626       A      NaN  3621

[42049 rows x 21 columns]>

In [26]:
part2.head()

,gvkey,datadate,year,indfmt,consol,popsrc,datafmt,cusip,curcd,at,...,ceq,csho,dt,ebitda,ppent,sale,xrd,costat,prcc_f,sic
0,1004,2014-05-31,2013.0,INDL,C,D,STD,000361105,USD,2199.5,...,999.5,39.560,634.0,256.0,413.3,2035.0,NaN,A,24.30,5080
1,1004,2015-05-31,2014.0,INDL,C,D,STD,000361105,USD,1515.0,...,845.1,35.423,154.0,83.7,295.0,1594.3,NaN,A,29.54,5080
2,1004,2016-05-31,2015.0,INDL,C,D,STD,000361105,USD,1442.1,...,865.8,34.515,148.1,136.9,313.9,1662.6,NaN,A,24.41,5080
3,1004,2017-05-31,2016.0,INDL,C,D,STD,000361105,USD,1504.1,...,914.2,34.354,157.3,148.2,361.5,1767.6,NaN,A,34.94,5080
4,1004,2018-05-31,2017.0,INDL,C,D,STD,000361105,USD,1524.7,...,936.3,34.716,177.2,126.5,316.6,1748.3,NaN,A,44.69,5080

In [27]:
part2=part2[['year','at','sale','ceq','csho','prcc_f','ppent','dt','ebitda','xrd','capx','sic','cusip']]

In [28]:
part2.head()

,year,at,sale,ceq,csho,prcc_f,ppent,dt,ebitda,xrd,capx,sic,cusip
0,2013.0,2199.5,2035.0,999.5,39.560,24.30,413.3,634.0,256.0,NaN,26.5,5080,000361105
1,2014.0,1515.0,1594.3,845.1,35.423,29.54,295.0,154.0,83.7,NaN,46.3,5080,000361105
2,2015.0,1442.1,1662.6,865.8,34.515,24.41,313.9,148.1,136.9,NaN,88.4,5080,000361105
3,2016.0,1504.1,1767.6,914.2,34.354,34.94,361.5,157.3,148.2,NaN,33.6,5080,000361105
4,2017.0,1524.7,1748.3,936.3,34.716,44.69,316.6,177.2,126.5,NaN,22.0,5080,000361105

In [29]:
part2['xrd'].notnull().sum()

22964

In [31]:
part2['xrd']=part2['xrd'].fillna(0)

<ipython-input-31-d5864ea9f8a3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part2['xrd']=part2['xrd'].fillna(0)

In [32]:
part2.head()

,year,at,sale,ceq,csho,prcc_f,ppent,dt,ebitda,xrd,capx,sic,cusip
0,2013.0,2199.5,2035.0,999.5,39.560,24.30,413.3,634.0,256.0,0.0,26.5,5080,000361105
1,2014.0,1515.0,1594.3,845.1,35.423,29.54,295.0,154.0,83.7,0.0,46.3,5080,000361105
2,2015.0,1442.1,1662.6,865.8,34.515,24.41,313.9,148.1,136.9,0.0,88.4,5080,000361105
3,2016.0,1504.1,1767.6,914.2,34.354,34.94,361.5,157.3,148.2,0.0,33.6,5080,000361105
4,2017.0,1524.7,1748.3,936.3,34.716,44.69,316.6,177.2,126.5,0.0,22.0,5080,000361105

In [33]:
temp=part2['xrd'].tolist()

In [34]:
for i in range(len(temp)):
    if temp[i]<0:
        temp[i]=0

In [35]:
part2['xrd']=temp

<ipython-input-35-45ca84eb32ff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part2['xrd']=temp

In [36]:
part2.head()

,year,at,sale,ceq,csho,prcc_f,ppent,dt,ebitda,xrd,capx,sic,cusip
0,2013.0,2199.5,2035.0,999.5,39.560,24.30,413.3,634.0,256.0,0.0,26.5,5080,000361105
1,2014.0,1515.0,1594.3,845.1,35.423,29.54,295.0,154.0,83.7,0.0,46.3,5080,000361105
2,2015.0,1442.1,1662.6,865.8,34.515,24.41,313.9,148.1,136.9,0.0,88.4,5080,000361105
3,2016.0,1504.1,1767.6,914.2,34.354,34.94,361.5,157.3,148.2,0.0,33.6,5080,000361105
4,2017.0,1524.7,1748.3,936.3,34.716,44.69,316.6,177.2,126.5,0.0,22.0,5080,000361105

In [37]:
part2['atng']=part2['ppent']/part2['at']

<ipython-input-37-ee402d4891f4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part2['atng']=part2['ppent']/part2['at']

In [38]:
part2['totdr']=part2['dt']/part2['at']
part2['capxr']=part2['capx']/part2['sale']
part2['rdr']=part2['xrd']/part2['sale']
part2['prof']=part2['ebitda']/part2['sale']
part2['size']=np.log(part2['sale'])
part2['Q']=(part2['at']-part2['ceq']+part2['prcc_f']*part2['csho'])/part2['at']

<ipython-input-38-fc61c1cfc42f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part2['totdr']=part2['dt']/part2['at']
<ipython-input-38-fc61c1cfc42f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part2['capxr']=part2['capx']/part2['sale']
<ipython-input-38-fc61c1cfc42f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part2['rdr']=part2['xrd']/part2['sale']
<ipython-input-38-fc61c1cfc42f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part2['prof']=part2['ebitda']/part2['sale']
<ipython-input-38-fc61c1cfc42f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part2['size']=np.log(part2['sale'])
<ipython-input-38-fc61c1cfc42f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part2['Q']=(part2['at']-part2['ceq']+part2['prcc_f']*part2['csho'])/part2['at']

In [39]:
part2.head()

,year,at,sale,ceq,csho,prcc_f,ppent,dt,ebitda,xrd,capx,sic,cusip,atng,totdr,capxr,rdr,prof,size,Q
0,2013.0,2199.5,2035.0,999.5,39.560,24.30,413.3,634.0,256.0,0.0,26.5,5080,000361105,0.187906,0.288247,0.013022,0.0,0.125799,7.618251,0.982636
1,2014.0,1515.0,1594.3,845.1,35.423,29.54,295.0,154.0,83.7,0.0,46.3,5080,000361105,0.194719,0.101650,0.029041,0.0,0.052500,7.374190,1.132868
2,2015.0,1442.1,1662.6,865.8,34.515,24.41,313.9,148.1,136.9,0.0,88.4,5080,000361105,0.217669,0.102697,0.053170,0.0,0.082341,7.416138,0.983851
3,2016.0,1504.1,1767.6,914.2,34.354,34.94,361.5,157.3,148.2,0.0,33.6,5080,000361105,0.240343,0.104581,0.019009,0.0,0.083842,7.477378,1.190233
4,2017.0,1524.7,1748.3,936.3,34.716,44.69,316.6,177.2,126.5,0.0,22.0,5080,000361105,0.207647,0.116220,0.012584,0.0,0.072356,7.466399,1.403462

In [74]:
part2['year']=part2['year'].astype('int')

<ipython-input-74-2c7a589f7c7a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  part2['year']=part2['year'].astype('int')

In [75]:
rri=pd.read_csv('rri.csv',low_memory=False)

In [76]:
res=pd.merge(part2,rri,on=['cusip','year'])

In [77]:
res.head()

,year,at,sale,ceq,csho,prcc_f,ppent,dt,ebitda,xrd,...,atng,totdr,capxr,rdr,prof,size,Q,mnrri,date,lastrri
0,2013,2199.5,2035.0,999.5,39.560,24.30,413.3,634.0,256.0,0.0,...,0.187906,0.288247,0.013022,0.0,0.125799,7.618251,0.982636,0.000000,2013-01-01,0
1,2014,1515.0,1594.3,845.1,35.423,29.54,295.0,154.0,83.7,0.0,...,0.194719,0.101650,0.029041,0.0,0.052500,7.374190,1.132868,0.000000,2014-01-01,0
2,2015,1442.1,1662.6,865.8,34.515,24.41,313.9,148.1,136.9,0.0,...,0.217669,0.102697,0.053170,0.0,0.082341,7.416138,0.983851,10.134247,2015-01-01,0
3,2016,1504.1,1767.6,914.2,34.354,34.94,361.5,157.3,148.2,0.0,...,0.240343,0.104581,0.019009,0.0,0.083842,7.477378,1.190233,2.661202,2016-01-01,9
4,2017,1524.7,1748.3,936.3,34.716,44.69,316.6,177.2,126.5,0.0,...,0.207647,0.116220,0.012584,0.0,0.072356,7.466399,1.403462,0.000000,2017-01-01,0

In [70]:
res.groupby(['cusip'])df['lagprice'] = df['price'].shift(1)

<class 'AttributeError'>: 'DataFrameGroupBy' object has no attribute 'groupby'

In [78]:
res = res.groupby(['cusip']).shift(1)

In [79]:
res

,year,at,sale,ceq,csho,prcc_f,ppent,dt,ebitda,xrd,...,atng,totdr,capxr,rdr,prof,size,Q,mnrri,date,lastrri
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013.0,2199.500,2035.000,999.500,39.560,24.30,413.300,634.000,256.000,0.000,...,0.187906,0.288247,0.013022,0.000000,0.125799,7.618251,0.982636,0.000000,2013-01-01,0.0
2,2014.0,1515.000,1594.300,845.100,35.423,29.54,295.000,154.000,83.700,0.000,...,0.194719,0.101650,0.029041,0.000000,0.052500,7.374190,1.132868,0.000000,2014-01-01,0.0
3,2015.0,1442.100,1662.600,865.800,34.515,24.41,313.900,148.100,136.900,0.000,...,0.217669,0.102697,0.053170,0.000000,0.082341,7.416138,0.983851,10.134247,2015-01-01,0.0
4,2016.0,1504.100,1767.600,914.200,34.354,34.94,361.500,157.300,148.200,0.000,...,0.240343,0.104581,0.019009,0.000000,0.083842,7.477378,1.190233,2.661202,2016-01-01,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18526,2020.0,51.704,34.703,15.447,88.939,1.90,41.186,28.368,6.109,0.000,...,0.796573,0.548662,0.128317,0.000000,0.176037,3.546826,3.969540,15.904372,2020-01-01,24.0
18527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18528,2018.0,764.288,96.666,-312.467,45.560,NaN,22.756,16.660,-184.103,68.681,...,0.029774,0.021798,0.041545,0.710498,-1.904527,4.571262,NaN,0.000000,2018-01-01,0.0
18529,2019.0,1012.720,264.748,-544.757,55.452,NaN,223.112,211.267,-354.566,105.160,...,0.220310,0.208613,0.086301,0.397208,-1.339258,5.578778,NaN,0.000000,2019-01-01,0.0
18530,2020.0,5921.739,592.049,4936.471,287.918,272.45,255.786,204.537,-534.111,237.946,...,0.043194,0.034540,0.068119,0.401903,-0.902140,6.383589,13.413041,0.000000,2020-01-01,0.0

In [82]:
res = res.dropna()
res

,year,at,sale,ceq,csho,prcc_f,ppent,dt,ebitda,xrd,...,atng,totdr,capxr,rdr,prof,size,Q,mnrri,date,lastrri
1,2013.0,2199.500,2035.000,999.500,39.560,24.30,413.300,634.000,256.000,0.000,...,0.187906,0.288247,0.013022,0.000000,0.125799,7.618251,0.982636,0.000000,2013-01-01,0.0
2,2014.0,1515.000,1594.300,845.100,35.423,29.54,295.000,154.000,83.700,0.000,...,0.194719,0.101650,0.029041,0.000000,0.052500,7.374190,1.132868,0.000000,2014-01-01,0.0
3,2015.0,1442.100,1662.600,865.800,34.515,24.41,313.900,148.100,136.900,0.000,...,0.217669,0.102697,0.053170,0.000000,0.082341,7.416138,0.983851,10.134247,2015-01-01,0.0
4,2016.0,1504.100,1767.600,914.200,34.354,34.94,361.500,157.300,148.200,0.000,...,0.240343,0.104581,0.019009,0.000000,0.083842,7.477378,1.190233,2.661202,2016-01-01,9.0
5,2017.0,1524.700,1748.300,936.300,34.716,44.69,316.600,177.200,126.500,0.000,...,0.207647,0.116220,0.012584,0.000000,0.072356,7.466399,1.403462,0.000000,2017-01-01,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18522,2018.0,6114.669,2487.633,2358.375,175.729,16.72,399.340,2019.943,414.110,17.746,...,0.065309,0.330344,0.016108,0.007134,0.166467,7.819087,1.094823,11.271233,2018-01-01,19.0
18523,2019.0,6625.928,2608.289,2870.431,196.043,22.37,474.010,2104.429,459.646,21.209,...,0.071539,0.317605,0.020350,0.008131,0.176225,7.866450,1.228655,0.263014,2019-01-01,3.0
18524,2020.0,6718.098,3032.631,2562.771,173.681,25.42,508.914,2120.033,548.089,21.215,...,0.075753,0.315570,0.023332,0.006996,0.180731,8.017186,1.275703,17.322404,2020-01-01,25.0
18526,2020.0,51.704,34.703,15.447,88.939,1.90,41.186,28.368,6.109,0.000,...,0.796573,0.548662,0.128317,0.000000,0.176037,3.546826,3.969540,15.904372,2020-01-01,24.0
18530,2020.0,5921.739,592.049,4936.471,287.918,272.45,255.786,204.537,-534.111,237.946,...,0.043194,0.034540,0.068119,0.401903,-0.902140,6.383589,13.413041,0.000000,2020-01-01,0.0

In [83]:
from sklearn.linear_model import LinearRegression

In [92]:
y = res["mnrri"]
x = res[["sale","ebitda","size","capxr"]]

In [94]:
reg = LinearRegression().fit(x, y)

In [96]:
reg.score(x, y)

0.3895534909945303

In [97]:
import statsmodels.api as sm

In [104]:
model = sm.OLS(y,x)
results = model.fit()
results.params

sale      0.000102
ebitda    0.000639
size      1.131811
capxr     0.252707
dtype: float64

In [105]:
results.tvalues

sale       20.852003
ebitda     22.747149
size      104.500189
capxr       2.532645
dtype: float64

In [106]:
results.pvalues

sale       3.776413e-95
ebitda    1.499977e-112
size       0.000000e+00
capxr      1.133114e-02
dtype: float64

In [108]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  mnrri   R-squared (uncentered):                   0.626
Model:                            OLS   Adj. R-squared (uncentered):              0.626
Method:                 Least Squares   F-statistic:                              5982.
Date:                Tue, 07 Nov 2023   Prob (F-statistic):                        0.00
Time:                        20:05:20   Log-Likelihood:                         -51265.
No. Observations:               14317   AIC:                                  1.025e+05
Df Residuals:                   14313   BIC:                                  1.026e+05
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
sale           0.0001    4.9e-06     20.852      0.000    9.25e-05       0.000
ebitda         0.0006   2.81e-05     22.747      0.000       0.001       0.001
size           1.1318      0.011    104.500      0.000       1.111       1.153
capxr          0.2527      0.100      2.533      0.011       0.057       0.448
==============================================================================
Omnibus:                     1120.283   Durbin-Watson:                   0.919
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1405.691
Skew:                           0.730   Prob(JB):                    5.73e-306
Kurtosis:                       3.475   Cond. No.                     3.24e+04
==============================================================================

Notes:
[1] R is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 3.24e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [114]:
y = res["Q"]
x = res[["sale","ebitda","size","totdr",'xrd']]
model = sm.OLS(y,x)
results = model.fit()
results.params

sale     -0.000011
ebitda   -0.000027
size      0.271468
totdr     0.398667
xrd       0.000185
dtype: float64

In [116]:
results.pvalues

sale      1.221236e-24
ebitda    1.279147e-04
size      0.000000e+00
totdr     4.430161e-10
xrd       1.543384e-26
dtype: float64

In [118]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      Q   R-squared (uncentered):                   0.539
Model:                            OLS   Adj. R-squared (uncentered):              0.538
Method:                 Least Squares   F-statistic:                              3342.
Date:                Tue, 07 Nov 2023   Prob (F-statistic):                        0.00
Time:                        20:11:33   Log-Likelihood:                         -29626.
No. Observations:               14317   AIC:                                  5.926e+04
Df Residuals:                   14312   BIC:                                  5.930e+04
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
sale       -1.114e-05   1.09e-06    -10.266      0.000   -1.33e-05   -9.02e-06
ebitda     -2.714e-05   7.08e-06     -3.831      0.000    -4.1e-05   -1.33e-05
size           0.2715      0.004     76.758      0.000       0.265       0.278
totdr          0.3987      0.064      6.242      0.000       0.273       0.524
xrd            0.0002   1.74e-05     10.683      0.000       0.000       0.000
==============================================================================
Omnibus:                    13773.112   Durbin-Watson:                   0.706
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1157604.670
Skew:                           4.482   Prob(JB):                         0.00
Kurtosis:                      46.130   Cond. No.                     9.41e+04
==============================================================================

Notes:
[1] R is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 9.41e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [122]:
res.describe()

,year,at,sale,ceq,csho,prcc_f,ppent,dt,ebitda,xrd,...,sic,atng,totdr,capxr,rdr,prof,size,Q,mnrri,lastrri
count,14317.000000,14317.000000,14317.000000,14317.000000,14317.000000,14317.000000,14317.000000,14317.000000,14317.000000,14317.000000,...,14317.000000,14317.000000,14317.000000,14317.000000,14317.000000,14317.000000,14317.000000,14317.000000,14317.000000,14317.000000
mean,2016.379898,9114.891404,6723.606341,3121.545620,217.392473,52.416537,2990.373789,2912.238586,1110.348163,186.919714,...,4235.539918,0.319753,0.294152,0.155582,0.096351,0.035881,7.236306,2.140145,9.192957,8.765314
std,2.287867,27247.886759,22390.885504,10837.037232,541.092447,139.527305,11073.414987,8841.191245,3876.072443,1164.956658,...,2143.861302,0.270550,0.253147,0.722344,0.835310,1.561709,1.842790,1.838277,10.821403,11.651991
min,2013.000000,10.240000,5.132000,-18316.000000,0.001000,0.000100,0.000000,0.000000,-21913.000000,0.000000,...,100.000000,0.000000,0.000000,-0.603110,0.000000,-102.772423,1.635495,0.149198,0.000000,0.000000
25%,2014.000000,631.236000,441.936000,204.594000,36.668000,11.030000,102.857000,70.895000,41.292000,0.000000,...,2833.000000,0.093696,0.118277,0.020016,0.000000,0.060697,6.091165,1.178309,0.000000,0.000000
50%,2016.000000,2025.373000,1553.914000,703.821000,78.022000,28.070000,441.969000,548.000000,207.915000,0.000000,...,3728.000000,0.225581,0.266159,0.039528,0.000000,0.135719,7.348532,1.595153,4.819672,0.000000
75%,2018.000000,6247.583000,4556.622000,2036.200000,182.300000,58.870000,1658.700000,2060.263000,720.000000,37.564000,...,5661.000000,0.508879,0.415411,0.094645,0.028768,0.233130,8.424337,2.398127,16.989041,18.000000
max,2020.000000,551669.000000,556933.000000,222544.000000,16976.763000,4410.000000,259651.000000,188398.000000,81730.000000,42740.000000,...,9997.000000,0.988689,4.754862,41.140791,53.700495,1.848173,13.230200,45.419832,66.526027,71.000000

In [127]:
Q1 = res['mnrri'].quantile(0.25)
Q3 = res['mnrri'].quantile(0.75)
IQR = Q3 - Q1
threshold = 1.5
outliers = res[(res['mnrri'] < Q1 - threshold * IQR) | (res['mnrri'] > Q3 + threshold * IQR)]
outliers

,year,at,sale,ceq,csho,prcc_f,ppent,dt,ebitda,xrd,...,atng,totdr,capxr,rdr,prof,size,Q,mnrri,date,lastrri
256,2013.0,207000.000,170910.000,123549.000,899.213,476.75,16597.000,16960.000,55756.000,4475.000,...,0.080179,0.081932,0.047774,0.026183,0.326230,12.048892,2.474158,57.553425,2013-01-01,61.0
257,2014.0,231839.000,182795.000,111547.000,5866.161,100.75,20624.000,28987.000,60449.000,6041.000,...,0.088958,0.125031,0.052359,0.033048,0.330693,12.116121,3.068111,59.917808,2014-01-01,56.0
258,2015.0,290479.000,233715.000,119355.000,5578.753,110.30,22471.000,55963.000,81730.000,8067.000,...,0.077358,0.192658,0.048123,0.034516,0.349699,12.361858,2.707461,58.734247,2015-01-01,62.0
259,2016.0,321686.000,215091.000,128249.000,5336.166,113.05,27010.000,78927.000,69276.000,10045.000,...,0.083964,0.245354,0.059203,0.046701,0.322078,12.278816,2.476609,55.631148,2016-01-01,56.0
260,2017.0,375319.000,229234.000,134047.000,5126.201,154.12,33783.000,103703.000,70744.000,11581.000,...,0.090011,0.276306,0.054316,0.050520,0.308610,12.342499,2.747855,59.027397,2017-01-01,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17532,2016.0,22664.076,7000.132,4752.911,161.561,213.69,15036.917,7256.038,301.459,834.408,...,0.663469,0.320156,0.205778,0.119199,0.043065,8.853684,2.313579,45.677596,2016-01-01,25.0
17533,2017.0,28655.372,11758.751,4237.242,168.797,311.35,20491.616,10450.110,70.917,1378.073,...,0.715106,0.364682,0.347091,0.117196,0.006031,9.372353,2.686166,52.904110,2017-01-01,59.0
17534,2018.0,29739.614,21461.268,4923.243,172.603,332.80,19691.231,12083.515,1634.946,1473.634,...,0.662121,0.406310,0.108079,0.068665,0.076181,9.974005,2.765962,54.693151,2018-01-01,56.0
17535,2019.0,34309.000,24578.000,6618.000,181.000,418.33,20199.000,14697.000,2187.000,1390.000,...,0.588738,0.428372,0.058263,0.056555,0.088982,10.109607,3.014041,48.789041,2019-01-01,51.0
17536,2020.0,52148.000,31536.000,22225.000,960.000,705.67,23375.000,13347.000,4506.000,1491.000,...,0.448243,0.255945,0.102486,0.047279,0.142884,10.358885,13.564589,54.338798,2020-01-01,56.0

In [129]:
newres = res.drop(outliers.index)

In [133]:
y = newres["mnrri"]
x = newres[["sale","ebitda","size","capxr"]]
model = sm.OLS(y,x)
results = model.fit()
results.params

sale      0.000138
ebitda    0.000613
size      1.064322
capxr     0.306380
dtype: float64

In [134]:
results.pvalues

sale      3.450531e-89
ebitda    8.232919e-63
size      0.000000e+00
capxr     1.232095e-03
dtype: float64

In [135]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  mnrri   R-squared (uncentered):                   0.600
Model:                            OLS   Adj. R-squared (uncentered):              0.600
Method:                 Least Squares   F-statistic:                              5307.
Date:                Tue, 07 Nov 2023   Prob (F-statistic):                        0.00
Time:                        20:20:00   Log-Likelihood:                         -49861.
No. Observations:               14130   AIC:                                  9.973e+04
Df Residuals:                   14126   BIC:                                  9.976e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
sale           0.0001   6.85e-06     20.167      0.000       0.000       0.000
ebitda         0.0006   3.65e-05     16.811      0.000       0.001       0.001
size           1.0643      0.011     98.103      0.000       1.043       1.086
capxr          0.3064      0.095      3.232      0.001       0.121       0.492
==============================================================================
Omnibus:                      810.634   Durbin-Watson:                   0.977
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              898.095
Skew:                           0.595   Prob(JB):                    9.57e-196
Kurtosis:                       2.672   Cond. No.                     2.11e+04
==============================================================================

Notes:
[1] R is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 2.11e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""